body {
  margin: 0;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.container { 
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

#searchBar {
  margin: 0 auto 40px auto;
  width: 560px;
  padding: 18px 15px;
  font-size: 14px;
  border: 2px solid #d7d7d7;
  border-radius: 8px;
  display: block;
}

.gallery {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  grid-template-columns: repeat(4, 200px);
  gap: 25px 25px;
}