.gallery { 
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 25px;
}

#searchBar {
  width: 500px;
  padding: 15px;
  font-size: 13px;
  border: 2px solid #d7d7d7;
  border-radius: 7px;
}