body, 
.container, 
.gallery {
  margin: 0 auto; 
}

#search {
  margin: 40px auto;
  width: 560px;
  padding: 18px 15px;
  font-size: 14px;
  border: 2px solid #d7d7d7;
  border-radius: 8px;
  display: block;
  grid-area: search;
}

.gallery {
  display: grid;
  justify-content: center;
  margin-bottom: 40px;
  grid-template-columns: repeat(4, 200px);
  gap: 25px 25px;
  grid-area: gallery;
}

/* Media Queries */
.container { 
  display: grid;
  width: 100%;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas: 
  "search"
  "gallery"
  "gallery";
}

/*768px and up (3 Column layout) */
@media (min-width: 768px) {
  .container {
    grid-template-areas: 
    "search search"
    "gallery gallery";
  }
}

/* 992px and up (Refined layout) */
@media (min-width: 992px) {
  .container {
    grid-template-areas: 
    "search search"
    "gallery gallery gallery";
  }
}