
#search {
  margin: 40px auto;
  max-width: 560px;
  width: 100%;
  padding: 18px 15px;
  font-size: 14px;
  border: 2px solid #d7d7d7;
  border-radius: 8px;
  display: block;
  grid-area: search;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
  grid-area: gallery;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container { 
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: grid;
  width: 100%;
  grid-auto-rows: minmax(150px, auto);
  grid-template-areas: 
  "search"
  "gallery"
  "gallery";
}