.gallery { 
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#searchBar {
  width: 300px;
  padding: 20px;
  font-size: 13px;
  border: 2px solid #d7d7d7;
  border-radius: 7px;
}